@font-face {
    font-family: 'NotoBold';
    src: url('../fonts/notosans-bold-webfont.eot');
    src: url('../fonts/notosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/notosans-bold-webfont.woff') format('woff'),
         url('../fonts/notosans-bold-webfont.ttf') format('truetype'),
         url('../fonts/notosans-bold-webfont.svg#noto_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoItalic';
    src: url('../fonts/notosans-italic-webfont.eot');
    src: url('../fonts/notosans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-italic-webfont.woff2') format('woff2'),
         url('../fonts/notosans-italic-webfont.woff') format('woff'),
         url('../fonts/notosans-italic-webfont.ttf') format('truetype'),
         url('../fonts/notosans-italic-webfont.svg#noto_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoRegular';
    src: url('../fonts/notosans-regular-webfont.eot');
    src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/notosans-regular-webfont.woff') format('woff'),
         url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
         url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


#header h2{
    float: left;
}

#header h3{
    float: right;
}

#header-content{
   /* height: 600px;*/
    padding: 10px;
    text-align: center;
}

#footer h2{
    float: right;
}

#footer ul{
    float: left;
    list-style-type: none;
}

#footer ul li{
    display: inline;
}

/* Caracteristicas de tabla*/



table{
	border: 2px solid #000;
	border-collapse: collapse;
	background-color: #9e9e9e;
}

table th{
	background-color: darkcyan;
}

table td{
	border: 2px solid #000;
	padding: 10px;
	text-align: center;
}

table tr:hover{
	background: gray;
}

#header-content p{
    color: white;
    font-size: 20px;
}

#card {
    margin: 10% 40% 10% 40%;
}

#measureMassCard {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    
}

div.headerCard {
    background-color: darkcyan;
    color: white;
    padding: 10px;
    font-size: 40px;
}

div.containerCard {
    padding: 10px;
    background-color: white;
}